#bbpress-forums div.bbp-reply-author{
    border: none !important;
    border-radius: 0px 0px 15px 15px;
    background-color: none !important;
    margin: 0px !important;
}
.bbp-author-avatar img{
    margin: 2px 0px 0px 2px !important;
    border-radius: 5px;
}
.bbp-reply-content{
    border: solid 3px #0c6980;
    border-radius: 0px 15px 15px 15px !important;
    padding: 0px 10px 10px 10px !important;
    background-color: white !important;
}
div.bbp-submit-wrapper{
	float: none !important;
}
button#bbp_topic_submit, button#bbp_reply_submit{
    background-color: #4c0548 !important;
    color: white !important;
    font-size: 16 !important;
    border-radius: 45px !important;
    padding: 15px 30px !important;
	margin: 0px auto 0px auto !important;
    cursor: pointer !important;
    display: block !important;
}
#bbpress-forums{
    overflow: visible !important;
    width: 100% !important;
	font-size: 14px !important;
}
#bbpress-forums fieldset.bbp-form legend{
	font-size: 18px !important;
	font-weight: 600 !important;
}
#bbpress-forums fieldset.bbp-form input[type="text"]{
    border-radius: 15px !important;
	width: 90% !important;
}
#bbpress-forums fieldset.bbp-form label{
    width: 90% !important;
}
#bbpress-forums fieldset.bbp-form input[type="checkbox"]{
    width: 20px !important;
    height: 20px !important;
	vertical-align: text-top !important;
}
#bbpress-forums fieldset.bbp-form select{
    border: solid black 1px !important;
    border-radius: 10px !important;
}
div.bbp-template-notice li{
	font-size: 14px !important;
}
div.bbp-template-notice.info{
    background-color: #faefe3 !important;
    border: solid #f7c340 5px !important;
    border-radius: 0 15px 15px 15px !important;
	width: fit-content !important;
}
#bbpress-forums ul{
    border: none !important;
    background-color: #faefe3 !important;
    border-radius: 15px !important;
}
div.bbp-template-notice{
    background-color: #faefe3 !important;
    border: solid #893e43 5px !important;
    border-radius: 0 15px 15px 15px !important;
	width: fit-content !important;
}
#buddypress .wp-editor-container{
	border: solid #0c6980 5px !important;
	border-radius: 15px !important;
	width: 90% !important;
}
.quicktags-toolbar{
	border: none !important;
	background: #faefe3 !important;
	border-radius: 15px 15px 0px 0px !important;
}
textarea.bbp-the-content{
    border-radius: 0px 0px 15px 15px !important;
    border-top: solid black 2px !important;
}
#bbpress-forums ul.bbp-replies{
	font-size: 14px !important;
}
#buddypress div.item-list-tabs ul li.last select{
	border-radius: 10px !important;
	padding: 5px !important;
}
#buddypress form#whats-new-form textarea{
	border: solid black 2px !important;
	border-radius: 15px !important;
}