.book-sections-container{
    display: flex;
    flex-wrap: nowrap;
    overflow-x:scroll;
    padding: 1em 1em 0em 1em;
    width: auto;
    min-height: 100px;
    align-content: center;
    background: #f6ece1;
    border-bottom: solid 10px #e3caab;
    box-shadow: 0 10px 5px rgba(254, 246, 219, 0.5) inset, 0 10px 50px rgba(254, 246, 219, 0.5) inset;
}
.book-section--small{
    max-width: 170px;
    display: inline-block;
    margin: 0 1em 1em 1em;
    align-content: center;
}