#buddypress{
    padding: 0px 10px !important;
}
.buddypress-wrap.bp-dir-hori-nav:not(.bp-vertical-navs) nav:not(.tabbed-links){
    box-shadow: none !important;
    border: none !important;
}
.buddypress-wrap .bp-navs li a{
    background: #e44e2d;
    border-radius: 0px 0px 10px 10px;
}
.buddypress-wrap .bp-navs li.selected a{
    background: #4c0548 !important;
    border-radius: 0px 0px 10px 10px;
}
.buddypress-wrap form{
    border: none !important;
}
.buddypress-wrap .select-wrap{
    border: none !important;
}