#search-overlay__toggle-filters-section__down{
    margin-left: 20px;
    cursor: pointer;
}

#search-overlay__toggle-filters-section__up{
    margin-left: 20px;
    cursor: pointer;
}

.not-displayed{
    display: none;
}

