.forminator-label{
    color: black !important;
    font-size: 14 !important;
}
.forminator-input{    
    border-radius: 25px !important;
}
.forminator-button{
    background: #0c698e !important;
    color: white !important;
    border-radius: 25px !important;
    display: block !important;
    margin: 20px auto !important;
}
.forminator-description, .forminator-ui{
    color: black !important;
    font-size: 16px !important;
    font-weight: 500 !important;
}

#forminator-module-5381{
    max-width: 500px;
    min-width: 300px;
    margin: 100px auto 40px auto !important;
}

.ui-datepicker{
    background: white !important;
}
#ui-datepicker-div{
    background-color: white !important;
}

.forminator-field li table{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
@media screen and (max-width: 420px){
    .forminator-field li table{
        margin-left: -20px !important;
        margin-right: 0px !important;
    }
}
@media screen and (max-width: 400px){
    .forminator-field li table{
        margin-left: -40px !important;
        margin-right: 0px !important;
    }
}
@media screen and (max-width: 380px){
    .forminator-field li table{
        margin-left: -60px !important;
        margin-right: 0px !important;
    }
}
@media screen and (max-width: 360px){
    .forminator-field li table{
        margin-left: -80px !important;
        margin-right: 0px !important;
    }
}
@media screen and (max-width: 330px){
    .forminator-field li table{
        margin-left: -90px !important;
        margin-right: 0px !important;
    }
}