.logo-image-large-container{
    display: flex;
}
.logo-image-picture{
    margin: 10px auto;
    display: block;
}
.logo-image-large{
    margin: 50px auto 0 auto;
    max-width: 700px;
}
.sub-logo{
    max-width: 700px;
}
.sub-logo-2{
    max-width: 700px;
    margin: 10px auto;
    display: none;
}
.leaves{
    padding-bottom: 60px;
}
.leaves h1{
    padding: 15px 30px 0 30px;
    text-align: center;
}
.leaves-p{
    padding: 0 30px 15px 30px;
    max-width: 750px;
    margin: auto;
    color: #602f32;
    font-size: 22;
}
.leaf-text-large{
    width: 100%;
    font-size: 32px;
    display: block;
    margin: 2px;
    text-decoration: underline;
}
.leaf-text-small{
    width: 100%;
    font-size: 16px;
    display: block;
    margin: 2px;
}
@media screen and (max-width: 330px) {
}
.leaf-section{
    min-height: fit-content;    
    color: #f6ece1;
}
.leaf-wrapper{
    width: 52vw;
    height: 205px;
    border-radius: 50% 0;
    margin: 50px auto 20px auto;
    border: solid #f6ece1 10px;
    background: #f6ece1;
}
.leaf, .alt-leaf{
    width: 50vw;
    height: 200px;
    border-radius: 50% 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0px 0px 1px #941c01;
    font-size: 32;
    padding: 10px;
    cursor: pointer;
}
.orange-leaf, .alt-orange-leaf{
    background: #e44e2d;
    border: solid 10px #f7c340;
}
.blue-leaf{
    background: #0c6980;
    border: solid 10px #e44e2d;
}
.sub-leaf-section{
    display: flex;
    width: 95%;
    margin: auto;
    flex-wrap: wrap;
}
.sub-leaf-wrapper{
    width: 31vw;
    height: 155px;
    border-radius: 10px 50%;
    margin: 10px auto;
    border: solid #f6ece1 10px;
    background: #f6ece1;
    padding: 0 40px 0 0;
}
.sub-leaf{
    width: 30vw;
    height: 150px;
    border-radius: 10px 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 26;
    padding: 0 20px;
    cursor: pointer;
    text-decoration: underline;
}
#instructions-non-leaf{
    width: 100%;
    color: black;
    background: #f6ece1;
    border-radius: 30px 30px 10px 10px;
}
@media screen and (max-width: 1000px){
    .leaf-wrapper{
        width: 65vw;
        height: 155px;
    }
    .leaf{
        width: 60vw;
        height: 150px;
    }
    .sub-leaf{
        font-size: 24;
    }
}
@media screen and (max-width: 750px){
    .leaf-wrapper{
        width: 80vw;
    }
    .leaf{
        width: 75vw;
    }
    .sub-leaf{
        font-size: 22;
    }
    .logo-image-large{
        max-width: 500px;
    }
    .sub-logo{
        max-width: 500px;
    }
}
@media screen and (max-width: 560px){
    .sub-leaf-wrapper{
        width: 26vw;
    }
    .sub-leaf{
        width: 25vw;
    }
    .sub-leaf{
        font-size: 20;
    }
    .logo-image-large{
        max-width: 400px;
    }
    .sub-logo{
        max-width: 400px;
    }
}
@media screen and (max-width: 450px){
    .sub-leaf-wrapper{
        width: 21vw;
    }
    .sub-leaf{
        width: 21vw;
    }
    .logo-image-large{
        max-width: 300px;
    }
    .sub-logo{
        max-width: 280px;
    }
}
@media screen and (max-width: 300px){
    .sub-leaf{
        font-size: 18;
    }
    .logo-image-large{
        max-width: 200px;
    }
    .sub-logo{
        max-width: 200px;
    }
}
#intro-overlay{
    position: fixed;
    background: #23232382;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    justify-content: center;
    align-items: center;
    padding-top: 160px;
    z-index: 1004;
}
#intro-overlay-main{
    background: #faefe3;
    color: black;
    padding: 10px;
    border-radius: 30px 0px 0px 30px;
    border: solid #0c6980 5px;
    width: 95%;
    max-width: 600px;
    height: fit-content;
    overflow-y: auto;
    display: block;
    margin: auto;
    text-align: center;
    position: relative;
}
#values-overlay__close{
    background: #faefe3;
    color: #893e43;
    border: solid #faefe3 3px;
    border-radius: 10px 0px 10px 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
@media screen and (max-width: 960px){
    #intro-overlay{
        padding-top: 0px;
    }
    #intro-overlay-main{
        max-height: 60vh;
    }
}