body{
    background: #fffaf4;
    font-family: Arial, Helvetica, sans-serif;
    /* padding-top: 0.5rem; */
    margin-left: 0px;
    margin-right: 0px;
    overflow-x: hidden;
}
/*screen-sizing--------------------------------------------------------------*/
.full-screen{
    min-height: 80vh;
}
.two-thirds-screen{
    min-height: 66vh;
}
.half-screen{
    min-height: 50vh;
}
.third-screen{
    min-height: 33vh;
}
.fifth-screen{
    min-height: 20vh;
}
.tenth-screen{
    min-height: 10vh;
}
/*header-----------------------------------------------------------------------*/
.header--top{
    background: #411919;
    color: #f7ede3;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin: -10px -5px 0 -10px;
    padding: 5px;
}
header a{
    color: #f7ede3;
}
.logo-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    width: fit-content;
    padding: 0;
    margin: 10px 0 10px 0;
    visibility: visible;
}
.top-nav-section{
    width: fit-content;
    padding-top: 5px;
}
#top-nav-right{
    position: absolute;
    right: 0;
    z-index: 1001;
}
.top-nav-section a{
    display: inline-block;
    padding: 5px;
    text-decoration: none;
}
.fa-cart-shopping{
    padding-right: 20px;
    font-size: 24px;
}
.fa-search{
    padding-right: 15px;
    font-size: 20px;
}
.fa-bars{
    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px;
    visibility: hidden;
}
.header--main{
    background: #511d1d;
    color: #f7ede3;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 -5px 0 -10px;
    padding: 0.15rem 0.15rem 0.15rem 0.15rem;
}
/*nav bar----------------------------------------------------------------------*/
.top-nav-container{
    display: flex;
}
.nav-container{
    visibility: visible;
}
.main-nav{
    padding: 10px 5px 15px 5px;
}
.main-nav a {
    display: inline-block;
    padding: 0px 20px;
    text-decoration: none;
    font-weight: 300;
}
.site-header__menu--active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
@media screen and (max-width: 960px) {
    .fa-bars{
        visibility: visible;
        cursor: pointer;
        position: absolute;
        z-index: 1000;
    }
    .logo-text{
        visibility: hidden;
    }
    .nav-container a{
        visibility: hidden;
    }
    .header--main{
        height: 0;
    }
    .site-header__menu {
        visibility: visible;
        opacity: 1;
        transform: translateY(0) scale(1);
        position: static;
        background-color: transparent;
        float: right;
        padding-top: 0;
        padding-bottom: 0;
        top: 0;
      }
      .header--main{
        visibility: visible;
        opacity: 1;
        transform: translateY(0) scale(1);
        position: static;
        background-color: transparent;
        float: right;
        padding-top: 0;
        padding-bottom: 0;
        top: 0;
      }
}
/*footer--------------------------------------------------------------------------*/
.footer--main{
    background: #511d1d;
    color: #F5EADE;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 1em 0.25em 1em 0.25em;
    margin: 3em 0 -100px 0;
}
.footer-top{
    display: flex;
}
.footer-top ul{
    width: 50vw;
    text-align: center;
}
.footer-top li {
    list-style: none;
    padding-bottom: 0.25rem;
}
.footer-top a {
    color: #f7ede3;
    text-decoration: none;
}
/*special sections-----------------------------------------------------------------------*/
.banner{
    max-width: 100vw;
    background: linear-gradient(to right,#006459, #9f886d);
    padding: 3rem;
    color: #F5EADE;
}
.page-accent{
    margin: 2em 0 0 0;
    padding: 0.5em 0 0 0;
    background: linear-gradient(to right, #e8f5f2, #f1f1f1);
}
.page-accent-alt{
    margin: 2em 0 0 0;
    padding: 0.5em 0 0 0;
    background: linear-gradient(to right, #f6f0e9, #fffaf4);
}
.page-accent-front{
    margin: 2em 0 0 0;
    padding: 0.5em 0 0 0;
    background: #e3dbd1;
}
.centered-section{
    text-align: center;
    margin: 2rem auto 0 auto;
    width: auto;
}
/*text-------------------------------------------------------------------------*/
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a {
    color: #007054;
}
.georgia-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.sans-text{
    font-family: Arial, Helvetica, sans-serif;
}
.gray-link{
    color: #333;
}
.extra-large-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
}
.small-text{
    font-size: 0.75rem;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.centered-text{
    text-align: center;
}
.left-text{
    text-align: left;
    margin-left: 2em;
}
.center-left-text{
    text-align: left;
    margin-left: 5vw;
}
.right-text{
    text-align: right;
    margin-right: 5vw;
}
.right-text-no-margin{
    text-align: right;
}
.center-right-text{
    text-align: right;
    margin-right: 5vw;
}
.text-margin{
    margin: 0.25rem;
}
.glowing-text{
    text-shadow: 0 0 10px #fff;
}
.nowrap{
    white-space: nowrap;
}
/*simple search-------------------------------------------------------------------------------*/
#basic-search-form{
    max-width: 95vw;
    margin: 20vh auto 0 auto;
    display: flex;
    justify-content: center;
}
#basic-search{
    width: 80%;
}
#basic-search-submit{
    background: #006459;
    color: white;
    border: #006459;
    border-radius: 10px;
    padding: 3px 10px;
    margin-left: 5px;
}
.simple-search-result{
    padding-top: 30px;
}
.simple-search-result li{
    list-style: none;
    margin: 30px;
    padding: 15px;
    background-color: white;
    overflow: hidden;
}
.simple-search-result img{
    max-width: 150px;
    max-height: auto;
    float: left;
    margin: 0 10px 10px 0;
}
/* .centered-input{
    width: fit-content;
    margin: 0 auto 0 auto;
    padding: none;
}
.centered-input input{
    border: solid #52b0df 1px;
    box-shadow: #dde9ef
     0 0 7px;
}
#s{
    width: 50vw;
    background-color: white;
}
#searchsubmit{
    background: #006fa7;
    color: white;
    padding: 0.25rem .5rem 0.25rem .5rem;
    border-radius: 5px;
} */
/*additional containers-----------------------------------------------------------------*/
.centered-container {
    margin: 0 15vw 0 15vw;
}
.centered-container-inner{
    /* margin: 3rem 15vw 2rem 15vw; */
    padding: 1rem;
    border-radius: 25px;
    background: #fffaf4;
    width: fit-content;
}
.centered-container-outer{
    margin: 3rem 15vw 2rem 15vw;
    padding: 0.5rem;
    border-radius: 35px;
    background: linear-gradient(to right, #d5ece6, lavender);
    width: fit-content;
}
.left-container-inner{
    /* margin: 3rem 15vw 2rem 5vw; */
    padding: 1rem;
    border-radius: 25px;
    background: #fffaf4;
    width: fit-content;
}
.left-container-outer{
    margin: 3rem 15vw 2rem 5vw;
    padding: 0.5rem;
    border-radius: 35px;
    background: linear-gradient(to right, #d5ece6, lavender);
    width: fit-content;
}
/*widget content--------------------------------------------------------------------*/
.widget-content {
    margin: 0 1rem 0 2rem;
}
/*blog and page content-----------------------------------------------------------------------*/
.by-line{
    margin-top: 1rem;
}
.blog-title{
    margin: 1rem;
}
.blog-title h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.generic-content{
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 10vw;
    margin-right: 10vw;
}
.archive-item{
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-bottom: 1rem;
}
/*form---------------------------------------------------------------------------------------------------*/
.form-container{
    padding: 2rem;
    align-content: center;
}
.form-group textarea{
    min-width: 70vw;
}
.form-group input{
    min-width: 40vw;
    min-height: 2rem;
}
/*Mobile Menu----------------------------------------------------------------------------------------*/
.menu-overlay {
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1110;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #511d1d;
    border: solid #511d1d 2px;
    border-radius: 5px;
    color: #f7ede3;
    width: 70vw;
    height: fit-content;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transform: scale(1.09);
    transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
    box-sizing: border-box;
}
.menu-overlay-list{
    margin: 10px auto 10px auto;
}
.menu-overlay-list li{
    list-style: none;
    margin: 5px 0 5px 0;
    padding: 5px 5px 5px 0;
}
.menu-overlay-list a{
    color: #f7ede3;
}
.menu-overlay__close{
    /* position: absolute;
    top: 13px;
    right: 16px; */
    font-size: 2.1rem;
    cursor: pointer;
    transition: all 0.3s;
    background-color: transparent;
    color: #f7ede3;
    line-height: 0.7;
}
/*Search--------------------------------------------------------------------------------------------*/
.search-overlay {
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1110;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.96);
    visibility: hidden;
    opacity: 0;
    transform: scale(1.09);
    transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
    box-sizing: border-box;
}
  
.search-overlay--active{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.search-overlay__top{
    background-color: rgba(0, 0, 0, 0.12);
    /* margin-top: 50px; */
}

.overlay-main-container {
    max-width: 1300px;
    margin: 0;
    padding-left: 15px;
    position: relative;
    background: transparent;
    border: solid transparent 2px;
  }

.search-overlay__close{
    position: absolute;
    top: 13px;
    right: 16px;
    font-size: 2.1rem;
    cursor: pointer;
    transition: all 0.3s;
    background-color: transparent;
    color: #b41414;
    line-height: 0.7;
}

.overlay-input-container{
    max-width: 1300px;
    margin: 80px auto 40px auto;
    padding: 0 auto 0 auto;
    position: relative;
}

.search-overlay__icon{
    margin: 0 5px 0 10px;
    font-size: 1.8rem;
    color: #411919;
}

.search-term{
    width: 75%;
    box-sizing: border-box;
    border: none;
    padding: 15px 10px;
    margin: 0;
    background-color: white;
    font-size: 1rem;
    font-weight: 300;
    /* outline: solid #411919 2px; */
    color: #411919;
}

.search-result{
    background: transparent;
    width: 90vw;
    height: fit-content;
    padding: 30px;
    margin: 30px auto 0 auto;
}

.search-result li{
    list-style: none;
    margin: 30px;
    padding: 15px;
    background-color: white;
    overflow: hidden;
}

.search-result img{
    max-width: 150px;
    max-height: auto;
    float: left;
    margin: 0 10px 10px 0;
}

.spinner-loader {
    margin: 45px auto 0 auto;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 0.25rem solid rgba(0, 0, 0, 0.2);
    border-top-color: black;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
  }

.body-no-scroll{
    overflow: hidden;
}

.event-summary p {
    padding-top: 0;
}

.event-summary {
    margin-bottom: 0;
    margin-top: 20px;
}