/*font-----------------------------------------------------------------------------------*/
@font-face {
    font-family: "tankindred";
    src: url("../fonts/TAN-KINDRED.woff") format('woff');
}
@font-face {
    font-family: "nunito-sans";
    src: url("../fonts/NunitoSans-Regular.ttf") format('truetype');
}
/*body---------------------------------------------------------------------------------*/
body{
    background: #eee2d4 !important;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: nunito-sans, sans-serif;
    /* font-family: Urbanist, sans-serif; */
    /* padding-top: 0.5rem; */
    font-size: 16;
    margin-left: 0px;
    margin-right: 0px;
    overflow-x: hidden;
}
/* visibility----------------------------------------------------------------------- */
.hidden{
    display: none;
}
.invisible{
    visibility: hidden;
}
/*screen-sizing--------------------------------------------------------------*/
.max-1000-screen{
    max-width: 1000px;
    margin: auto;
}
.full-screen{
    min-height: 80vh;
}
.two-thirds-screen{
    min-height: 66vh;
}
.half-screen{
    min-height: 50vh;
}
.third-screen{
    min-height: 33vh;
}
/*header-----------------------------------------------------------------------*/
.header--top{
    background: #602f32;
    color: #eee2d4;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin: -10px -5px 0 -10px;
    padding: 5px;
}
header a{
    color: #eee2d4;
    text-decoration: none;
}
header a:hover{
    color: #eee2d4;
    text-decoration: none;
}
.header--main a{
    color: #eee2d4 !important;
    text-decoration: none;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: nunito-sans, sans-serif;
}
.header--sub a{
    color: #eee2d4 !important;
    text-decoration: none;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: nunito-sans, sans-serif;
}
.product-section .button{
    margin: 10px auto;
    border-radius: 15px;
    background: #e44e2d;
    color: white !important;
    text-shadow: 0 0 2px #333;
    padding: 10px;
    display: block;
    width: fit-content;
    text-align: center;
    cursor: pointer;
}
.woocommerce-result-count{
    padding: 10px 0 0 20px;
}
.woocommerce-ordering{
    padding: 10px 20px 0 0;
}
.woocommerce-products-header a:hover{
    color: #0c698e;
}
img{
    font-style: italic;
}
.logo-image{
    max-width: 120px;
    margin-left: 20px;
}
.top-nav-section{
    width: fit-content;
    padding-top: 5px;
}
#top-nav-right{
    position: absolute;
    right: 0;
    z-index: 1001;
}
.top-nav-section a{
    display: inline-block;
    padding: 5px;
    text-decoration: none;
}
.header--main{
    background: #893e43;
    color: #eee2d4;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    margin: 0 -5px 0 -10px;
    padding: 0.5rem 0.15rem 0.15rem 0.15rem;
}
.header--sub{
    background: #295864;
    color: #eee2d4;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    margin: -2px -5px 0 -10px;
    padding: 0.5rem 0.15rem 0.15rem 0.15rem;
}
/*nav bar----------------------------------------------------------------------*/
.top-nav-container{
    display: flex;
}
.nav-container{
    visibility: visible;
    width: fit-content;
    margin: 0 auto;
}
.main-nav{
    padding: 10px 5px 15px 5px;
}
.main-nav a {
    display: inline-block;
    padding: 0px 20px;
    text-decoration: none;
    font-weight: 300;
}
.site-header__menu--active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
@media screen and (max-width: 960px) {
    .nav-container a{
        visibility: hidden;
    }
    .logo-image{
        max-width: 120px;
        margin-left: 40px;
    }
    .header--main, .header--sub{
        height: 0;
    }
    .site-header__menu {
        visibility: visible;
        opacity: 1;
        transform: translateY(0) scale(1);
        position: static;
        background-color: transparent;
        float: right;
        padding-top: 0;
        padding-bottom: 0;
        top: 0;
      }
      .header--main, .header--sub{
        visibility: visible;
        opacity: 1;
        transform: translateY(0) scale(1);
        position: static;
        background-color: transparent;
        float: right;
        padding-top: 0;
        padding-bottom: 0;
        top: 0;
      }
}
/*footer--------------------------------------------------------------------------*/
.footer--main{
    background: #893e43;
    color: #eee2d4;
    text-decoration: none;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: nunito-sans, sans-serif;
    padding: 20px 20px 300px 20px;
    margin: 3em -5px -100px -5px;
    position: relative;
    min-height: 200px;
}
#footer-logo{
    position: absolute;
    top: 180px;
    right: 20px;
    width: 100px;
    border-radius: 20px;
}
.footer--main ul{    
    list-style: none;
    width: fit-content;
}
.footer--main li{
    padding-bottom: 10px
}
.footer--main a{
    color: #eee2d4;
    text-decoration: none;
    border-bottom: 30px;
}
.privacy-policy-li{
    margin-top: 20px;
}
#kofi-link{
    text-align: center;
    border: solid #ecd0b1 2px;
    border-radius: 10px;
    position: absolute;
    top: 130px;
    right: 25px;
    width: fit-content;
    padding: 5px;
}
#kofi-link a{
    color: #ecd0b1;
}
#social-links{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    top: 20px;
    right: 25px;
}
#social-links img{
    display: block;
    /* margin: 10px; */
}
/* cookie consent------------------------------------------ */
#gdpr-cookie-consent-bar.gdpr-banner{
    position: fixed;
    flex-direction: column;
    border-radius: 0px;
    left: 0px;
    bottom: 0px;
    color: rgb(250, 239, 227);
    border-style: none;
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    font-family: Arial;
    width: 100vw;
    padding: 40px 120px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
    display: flex;
    box-sizing: border-box;
}
.powered-by-credits{
    display: none !important;
}
@media (min-width: 1229px) {
    #gdpr-cookie-consent-bar #cookie-banner-cancle-img {
        right: 25px !important;
    }
}
#gdpr-cookie-consent-bar{
    background: transparent !important;
    box-shadow: none !important;
    z-index: 2002 !important;
    gap: 0px !important;
}
.ccpa_messagebar_detail, .gdpr_messagebar_detail{
    display: none !important;
}
#gdpr-cookie-consent-bar img.gdpr-logo-image{
    display: none !important;
}
#gdpr-cookie-consent-bar h3{
    font-size: 18 !important;
    background: #893e43 !important;
    padding: 20px !important;
}
#gdpr-cookie-consent-bar div.row_spaced{
    background: #893e43 !important;
    border: solid #893e43 5px !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 15px !important;
}
#gdpr-cookie-consent-bar .cookie_notice_buttons{
    max-width: 90% !important;
    margin: 0px auto;
}
#gdpr-cookie-consent-bar p.gdpr{
    background: #893e43 !important;
    padding: 20px !important;
}
#gdpr-cookie-consent-bar div.gdpr{
    padding-bottom: 20px !important;
}
#cookie_action_reject{
    background: #893e43 !important;
}
#cookie_action_settings{
    background: #893e43 !important;
}
#gdpr-cookie-consent-bar .ccpa{
    display: none !important;
}
#gdpr-cookie-consent-show-again{
    position: relative !important;
    bottom: -20px !important;
    right: 0px !important;
    background: transparent !important;
    box-shadow: none !important;
    font-size: 16 !important;
    color: #eee2d4 !important;
    margin: 0px !important;    
    padding-bottom: 0px !important;
    box-shadow: none !important;
    display: block !important;
    z-index: 999 !important;
}
#gdpr-cookie-consent-show-again span{
    margin: 40px 20px 0px 35px !important;
    margin-top: -2px !important;
}
#cookie_action_accept_all{
    background: #0c6980 !important;
    border-color: #0c6980 !important;
    text-shadow: 0px 0px 2px black !important;
}
#cookie-banner-cancle-img{
    /* color: #eee2d4 !important; */
    /* text-align: right !important; */
    display: none !important;
}
#cookie-banner-cancle-img svg{
    display: none !important;
}
.gdprmodal-header button.close{
    color: #eee2d4 !important;
}
.toggle-group .always-active{
    color: #eee2d4 !important;
}
#gdpr-cookie-consent-bar span{
    background: #893e43 !important;
}
.gdpr span{
    display: none !important;
}
.gdpr a{
    color: #ffffff !important;
    text-decoration: underline !important;
}
.ccpa a{
    color: #ffffff !important;
    text-decoration: underline !important;
}
@media screen and (max-width: 480px){
    .footer--main{
        padding: 30px 5px 120px 5px;
    }
    .footer-list{
        width: 100%;
        display: block;
    }
    #gdpr-cookie-consent-show-again{
        padding: 0px !important;
    }
    #gdpr-cookie-consent-show-again span{
        margin: 30px 0px 0px 35px !important;
    }
}
/*special sections-----------------------------------------------------------------------*/
.banner{
    /* width: 90%; */
    margin-right: 5px;
    background: #e44e2d;
    border-right: solid #f7c340 5px;
    border-bottom: solid #f7c340 15px;
    border-radius: 0 0 55px 25px;
    padding: 20px 15px 20px 20px;
}
.banner h1{
    margin: 10px;
    font-family: tankindred, serif;
    /* font-size: 54; */
    font-weight: 300;
    color: #eee2d4;
    text-shadow: 3px 3px #0c6980;
}
.banner-heading-54{
    font-size: 54;
}
.banner-heading-50{
    font-size: 50;
}
.banner-heading-46{
    font-size: 46;
}
.banner-heading-40{
    font-size: 40;
}
.banner-heading-38{
    font-size: 38;
}
.banner-heading-36{
    font-size: 36;
}
.banner-heading-34{
    font-size: 34;
}
.banner-heading-32{
    font-size: 32;
}
.banner-heading-30{
    font-size: 30;
}
.banner-heading-28{
    font-size: 28;
}
.banner-heading-22{
    font-size: 22;
}
.banner-heading-18{
    font-size: 18;
}
.banner h2{
    color: #eee2d4;
    text-shadow: 2px 2px #0c6980;
}
.sub-banner{
    width: 100%;
    background: #f6ece1;
    border-radius: 50px 0 0 50px;
    padding: 20px 15px;
    margin-top: 30px;
    color: black;
    text-align: right;
}
.sub-banner--slim{
    width: 100%;
    background: #f6ece1;
    border-radius: 50px 0 0 50px;
    padding: 5px;
    margin-top: 30px;
    color: black;
    text-align: right;
}
.orange-translucent-background{
    background: rgba(228, 78, 45, 0.3);
    padding-bottom: 20px;
}
.red-orange-line-break-60{
    border-top: solid #893e43 5px;
    border-bottom: solid #e44e2d 5px;
    border-radius: 25px;
    height: 3px;
    width: 60%;
    margin: 0 auto;
}
.blue-purple-line-break-60{
    border-top: solid #0c6980 5px;
    border-bottom: solid #4c0548 5px;
    border-radius: 25px;
    height: 3px;
    width: 60%;
    margin: 0 auto;
}
.purple-blue-line-break-60{
    border-top: solid #4c0548 5px;
    border-bottom: solid #0c6980 5px;
    border-radius: 25px;
    height: 3px;
    width: 60%;
    margin: 0 auto;
}
.orange-line-break{
    border-bottom: solid #e44e2d 3px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 25px 0px 25px 0px;
    height: 3px;
}
.red-orange-line-break{
    border-top: solid #893e43 5px;
    border-bottom: solid #e44e2d 5px;
    border-radius: 25px;
    height: 5px;
}
.orange-yellow-line-break{
    border-top: solid #e44e2d 5px;
    border-bottom: solid #f7c340 5px;
    border-radius: 25px;
    height: 5px;
}
.orange-yellow-line-break-30{
    border-top: solid #e44e2d 5px;
    border-bottom: solid #f7c340 5px;
    border-radius: 25px;
    height: 5px;
    margin: 30px 0;
}
.orange-yellow-line-straight{
    border-top: solid #e44e2d 5px;
    border-bottom: solid #f7c340 5px;
    height: 5px;
    margin: 30px 5px;
}
.flex-text{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media screen and (max-width: 1090px) {
    .flex-text{
        display: inline-block;
        text-align: center;
    }
}
.tomc-circle-container{
    width: 80%;
    min-height: 380px;
    padding: 10px 0px;
    margin: 10px auto;
    position: relative;
}
.tomc-circle-container img{
    max-width: 300px;
    height: auto;
    position: absolute;
    top: 40px;
    left: 35%;
}
.tomc-circle-p-0{
    position: absolute;
    top: 0px;
    text-align: center;
    width: 100%;
}
.tomc-circle-p-1{
    position: absolute;
    top: 120px;
    left: 30%;
    font-size: 30 !important;
}
.tomc-circle-p-1-padded-x{
    position: absolute;
    top: 100px;
    left: 30%;
    font-size: 30 !important;
    padding-left: 40px;
}
.tomc-circle-p-1-padded-2x{
    position: absolute;
    top: 120px;
    left: 30%;
    font-size: 36 !important;
    padding-left: 40px;
}
.tomc-circle-p-2{
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    margin-top: 0px;
}
@media screen and (max-width: 720px) {
    .tomc-circle-container img{
        left: 25%;
    }
    .tomc-circle-p-1, .tomc-circle-p-1-padded-x, .tomc-circle-p-1-padded-2x{
        left: 25%;
    }
}
@media screen and (max-width: 540px) {
    .tomc-circle-container img{
        left: 15%;
        padding-top: 10px;
    }
    .tomc-circle-p-1, .tomc-circle-p-1-padded-x, .tomc-circle-p-1-padded-2x{
        left: 15%;
    }
}
@media screen and (max-width: 460px) {
    .tomc-circle-container img{
        left: 5%;
        top: 40px;
    }
    .tomc-circle-p-1, .tomc-circle-p-1-padded-x, .tomc-circle-p-1-padded-2x{
        left: 5%;
        top: 120px;
    }
}
@media screen and (max-width: 400px) {
    .tomc-circle-container img{
        right: 20px;
        top: 60px;
        max-width: 250px;
    }
    .tomc-circle-p-1{
        right: 20px;
        top: 120px;
        font-size: 30;
    }
    .tomc-circle-p-1-padded-x{
        right: 20px;
        top: 110px;
        font-size: 30;
        padding-left: 10px;
    }
    .tomc-circle-p-1-padded-2x{
        right: 20px;
        top: 110px;
        font-size: 30;
        padding-left: 20px;
    }
}
@media screen and (max-width: 380px) {
    .tomc-circle-container img{
        right: 20px;
        top: 70px;
        max-width: 250px;
    }
    .tomc-circle-p-1{
        right: 20px;
        top: 130px;
        font-size: 26;
    }
    .tomc-circle-p-1-padded-x{
        right: 20px;
        top: 130px;
        font-size: 30;
        padding-left: 10px;
    }
    .tomc-circle-p-1-padded-2x{
        right: 20px;
        top: 130px;
        font-size: 26;
        padding-left: 20px;
    }
}
@media screen and (max-width: 635px) {
    .tomc-circle-container-xl{
        min-height: 440px !important;
    }
}
@media screen and (max-width: 340px) {
    .tomc-circle-container-xl{
        min-height: 460px !important;
    }
    .tomc-circle-container{
        min-height: 420px;
    }
    .tomc-circle-container img{
        right: 20px;
        top: 80px;
        max-width: 250px;
    }
    .tomc-circle-p-1{
        right: 20px;
        top: 100px;
    }
    .tomc-circle-p-1-padded-x{
        right: 20px;
        top: 140px;
        padding-left: 10px;
    }
    .tomc-circle-p-1-padded-2x{
        right: 20px;
        top: 140px;
        padding-left: 20px;
    }
}
.padded-paragraph-20-x{
    padding-left: 20px;
    padding-right: 20px;
}
.page-accent-alt-thin{
    margin: 30px 0 0 0;
    padding: 1px 10px;
    background: #f6ece1;
    border-radius: 25px;
}
/*images-----------------------------------------------------------------------*/
.circle-bio-pic-wrapper{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-top: solid #0c6980 5px;
    border-right: solid #0c6980 20px;
    border-bottom: solid #0c6980 15px;
    border-left: solid #0c6980 10px;
    background: #0c6980;
    padding: 0px;
}
.circle-bio-pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    margin: 0px;
}
/*text-------------------------------------------------------------------------*/
.prewrap{
    white-space: pre-wrap;
}
.yellow-shadow-text{
    text-shadow: 1px 1px #d38124;
}
.yellow-shadow-heading{
    text-shadow: 2px 2px #d38124;
}
.orange-shadow-heading{
    text-shadow: 2px 2px #e34e2f;
}
h1, h2, h3{
    font-family: nunito-sans, sans-serif;
}
.small-heading{
    font-size: 20;
}
.semi-large-heading{
    font-size: 26;
}
.large-heading{
    font-size: 36;
}
.larger-heading{
    font-size: 46;
    font-weight: 700;
}
.underlined-text{
    text-decoration: underline;
}
.no-decoration{
    text-decoration: none;
}
.blue-text{
    color: #0c6980;
}
.red-brown-text{
    color: #602f32;
}
.red-text{
    color: #893e43;
}
a {
    color: #0c6980;
}
.special-display-text{
    font-size: 54;
    color: #0c698e;
    text-shadow: 1px 1px rgb(255, 255, 255), 3px 5px #f4b10e;
    font-weight: 700;
    font-family: tankindred, Georgia, serif;
    line-height: 180%;
}
.special-display-text-sub{
    font-size: 28;
    color: #0c698e;
    text-shadow: 1px 1px white, 3px 5px #f4b10e;
    font-weight: 700;
    font-family: tankindred, Georgia, serif;
    letter-spacing: normal;
    line-height: 180%;
}
@media screen and (min-width: 393px) {
    .special-display-text-sub{
        font-size: 38;
    }
}
@media screen and (min-width: 529px) {
    .special-display-text-sub{
        font-size: 48;
    }
}
@media screen and (min-width: 689px) {
    .special-display-text-sub{
        font-size: 58;
        letter-spacing: 10px;
    }
}
@media screen and (max-width: 360px) {
    .special-display-text{
        font-size: 54;
    }
}
@media screen and (max-width: 300px) {
    .special-display-text{
        font-size: 50;
    }
}
.georgia-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.tankindred-text{
    font-family: tankindred, serif;
}
.sans-text{
    font-family: nunito-sans, sans-serif;
}
.gray-link{
    color: #145566;
}
.white-link{
    color: white;
}
.light-link{
    color: #afe8f6;
}
.paginate-links{
    margin: 10px auto;
    width: fit-content;
}
.centered-text{
    text-align: center;
}
.left-text{
    text-align: left;
    margin-left: 2em;
}
.left-text-no-margin{
    text-align: left !important;
}
.center-left-text{
    text-align: left;
    margin-left: 5vw;
    margin-right: 5vw;
}
.right-text{
    text-align: right;
    margin-right: 5vw;
}
.right-text-no-margin{
    text-align: right;
}
.nowrap{
    white-space: nowrap;
}
.block{
    display: block !important;
}
.flex{
    display: flex !important;
}
.flex-wrap{
    flex-wrap: wrap;
}
.justify-content-center{
    justify-content: center;
}
/*additional containers-----------------------------------------------------------------*/
.fit-content{
    width: fit-content;
}
.fit-width-text{
    max-width: 900px;
    width: fit-content;
    margin: 10px auto;
}
/*page content-----------------------------------------------------------------------*/
.by-line{
    margin-top: 1rem;
}
.inline{
    display: inline;
}
.break-word{
    word-wrap: break-word;
}
.margin-auto-block{
    margin: auto;
    display: block;
}
.max-width-800{
    max-width: 800px;
}
.padding-5{
    padding: 5px;
}
.padding-x-20{
    padding: 0 20px;
}
.padding-x-60{
    padding: 0 60px;
}
.padding-t-20{
    padding-top: 20px;
}
.padding-b-20{
    padding-bottom: 20px;
}
.generic-content{
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 10vw;
    margin-right: 10vw;
}
.generic-content h3{
    text-align: left;
}
.archive-item{
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-bottom: 1rem;
}
/*Mobile Menu----------------------------------------------------------------------------------------*/
.menu-overlay{
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1110;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #893e43;
    border-right: solid #893e43 10px;
    border-bottom: solid #893e43 10px;
    border-top: solid #893e43 5px;
    border-left: solid #893e43 5px;
    border-radius: 5px;
    color: #eee2d4;
    width: 70vw;
    height: fit-content;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transform: scale(1.09);
    transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
    box-sizing: border-box;
}
.menu-overlay-list{
    margin: 10px auto 10px auto;
    background: #b63e32;
    padding: 5px 5px 5px 20px;
    border-radius: 5px 15px;
}
.menu-overlay-list-1{
    margin: 10px auto 10px auto;
    background: #295864;
    padding: 5px 5px 5px 20px;
    border-radius: 5px 15px;
}
.menu-overlay-list li, .menu-overlay-list-1 li{
    list-style: none;
    margin: 5px 0 5px 0;
    padding: 5px 5px 5px 0;
}
.menu-overlay-list a, .menu-overlay-list-1 a{
    color: #eee2d4;
}
/* buttons--------------------------------------------------------------------------------------- */
.purple-width-fit-button{
    background-color: #4c0548;
    color: white;
    font-size: 16;
    border-radius: 45px;
    padding: 15px 30px;
    margin: 20px auto;
    cursor: pointer;
    display: block;
    width: fit-content;
}
.medium-purple-button{
    background-color: #4c0548;
    text-shadow: 0px 0px 1px black;
    color: white;
    font-size: 14;
    border-radius: 45px;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    display: block;
}
.blue-button{
    background-color: #0c6980;
    color: white;
    font-size: 16;
    border-radius: 45px;
    padding: 15px 30px;
    margin: 30px auto;
    cursor: pointer;
    display: block;
}
.hollow-blue-button{
    background-color: white;
    color: #0c6980;
    border: solid #0c6980 5px;
    font-size: 16;
    border-radius: 45px;
    padding: 15px 30px;
    margin: 30px auto;
    cursor: pointer;
    display: block;
}
.purple-button{
    background-color: #4c0548;
    color: white;
    font-size: 16;
    border-radius: 45px;
    padding: 15px 30px;
    margin: 30px auto;
    cursor: pointer;
    display: block;
}
.hollow-purple-button{
    background-color: white;
    color: #4c0548;
    border: solid #4c0548 5px;
    font-size: 16;
    border-radius: 45px;
    padding: 15px 30px;
    margin: 30px auto;
    cursor: pointer;
    display: block;
}
.orange-button{
    background-color: #e44e2d;
    color: white;
    text-shadow: 0px 0px 1px #941c01;
    font-size: 16;
    border-radius: 45px;
    padding: 15px 30px;
    margin: 30px auto;
    cursor: pointer;
    display: block;
}
.hollow-orange-button{
    background-color: white;
    color: #e44e2d;
    border: solid #e44e2d 5px;
    font-size: 16;
    border-radius: 45px;
    padding: 15px 30px;
    margin: 30px auto;
    cursor: pointer;
    display: block;
}
.purple-span{
    background-color: #4c0548;
    color: white;
    font-size: 16;
    border-radius: 45px;
    padding: 15px 10px;
    cursor: pointer;
    display: block;
    margin: 40px auto;
    width: 90vw;
    text-align: center;
}
.hollow-purple-span{
    background: white;
    border: solid #4c0548 5px;
    color: #4c0548;
    font-size: 16;
    border-radius: 45px;
    padding: 15px 10px;
    cursor: pointer;
    display: block;
    margin: 40px auto;
    width: 90vw;
    text-align: center;
}
.blue-span{
    background-color: #0c698e;
    text-shadow: 0px 0px 1px black;
    color: white;
    font-size: 16;
    border-radius: 45px;
    padding: 15px 10px;
    cursor: pointer;
    display: block;
    margin: 40px auto;
    width: 90vw;
    text-align: center;
}
.hollow-blue-span{
    background: white;
    border: solid #0c698e 5px;
    color: #0c698e;
    font-size: 16;
    border-radius: 45px;
    padding: 15px 10px;
    cursor: pointer;
    display: block;
    margin: 40px auto;
    width: 90vw;
    text-align: center;
}
.orange-span{
    background-color: #e44e2d;
    color: white;
    font-size: 16;
    border-radius: 45px;
    padding: 15px 10px;
    cursor: pointer;
    display: block;
    margin: 40px auto;
    width: 90vw;
    text-align: center;
}
.hollow-orange-span{
    background: white;
    border: solid #e44e2d 5px;
    color: #e44e2d;
    font-size: 16;
    border-radius: 45px;
    padding: 15px 10px;
    cursor: pointer;
    display: block;
    margin: 40px auto;
    width: 90vw;
    text-align: center;
}
@media screen and (max-width: 1090px){
    #tomc-search--roll-results{
        margin: 5px 50px 5px auto;
    }
}
/*product pages--------------------------------------------------------------------------------------------*/
.product-collection{    
    padding: 3%;
    min-height: 40vh;
}
.product-collection-container{
    width: 96vw;
    margin: auto;
}
.product-collection-container ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 1rem 0;
    justify-content: center;
    width: 100%;
}
.product-collection-container li{
    list-style: none;
    max-width: 270px;
    min-width: 240px;
    padding: 5px;
    margin: 5px;
}
.product-section{
    background: #fdfdfd;
    border: solid 10px #f3eae1;;
    border-radius: 15px;
    max-width: 90%;
    padding: 0.25rem;
    color: black;
    font-size: 12pt;
}
.product-section a{
    color: black;
    text-decoration: none;
}
.product-section a:hover{
    color: black;
    text-decoration: none;
}
.product-section span{
    color: black;
}
.product-section p{
    color: black;
}
.product-section img{
    max-width: 100%;
    height: auto;
}
.opacity-100{
    opacity: 1 !important;
}
.opacity-30{
    opacity: 0.3 !important;
}
.tomc-blue-purple-table th, td {
    border: 3px solid #f7c340;
    padding: 5px;
    text-align: center;
  }
.tomc-blue-purple-table{
    margin: 20px auto;
    border: 5px solid #f7c340;
    border-collapse: collapse;
}
.tomc-blue-cells{
    background: #0c6980;
    color: white;
    text-shadow: 0px 1px 1px black;
}
.tomc-purple-cells{
    background: #4c0548;
    color: white;
    text-shadow: 0px 1px 1px black;
}
.tomc-lighter-cells{
    background: #faefe3;
}
/* comments--------------------------------------------------------------------------------------------------------- */
textarea#comment{
    width: 90%;
    max-width: 800px;
    border-radius: 20px;
    padding: 20px;
}
.single-comment{
    border-bottom: double 5px #f7c340;
    border-radius: 20px 0px 0px 0px;
    width: 80%;
    max-width: 750px;
    margin: auto;
    padding: 20px;
}
.single-comment h3{
    margin-bottom: 0px;
}
.single-comment p{
    margin-top: 0px;
}
div.comment-respond{
    border-radius: 0px 20px 0px 0px;
    width: 80%;
    max-width: 750px;
    margin: auto;
    padding: 20px;
}
/* MailPoet--------------------------------------------------------------------------------------- */
.mailpoet_page-template-default p.post-by-line, .mailpoet_page-template-default hr, .mailpoet_page-template-default div.red-orange-line-break-60, .mailpoet_page-template-default div.purple-blue-line-break-60, .mailpoet_page-template-default div.blue-purple-line-break-60, .mailpoet_page-template-default h2, .mailpoet_page-template-default p.see-all-blog-posts, .mailpoet_page-template-default p.author-newsletter-link, .mailpoet_page-template-default p.publishes-under-line, .mailpoet_page-template-default p.post-author-pen-name{
    display: none !important;
}
p.mailpoet_unsubscribed_content{
    text-align: center !important;
}
.mailpoet_paragraph{
    width: fit-content !important;
}
form.mailpoet-manage-subscription{
    width: fit-content !important;
    margin: 20px auto !important;
}
form.mailpoet-manage-subscription input[type="submit"]{
    background-color: #0c6980;
    color: white;
    font-size: 16;
    border-radius: 45px;
    padding: 7px 15px;
    margin: 20px auto;
    cursor: pointer;
    display: block;
}
select.mailpoet_select{
    width: 200px;
    padding: 10px;
    border-radius: 10px !important;
}