.tomc-icon-span{
    padding-right: 10px;
    cursor: pointer;
}
.site-header__menu-trigger{
    padding-left: 20px;
    visibility: hidden;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .site-header__menu-trigger{
        visibility: visible;
        cursor: pointer;
        position: absolute;
        z-index: 1000;
    }
}

#search-overlay__toggle-filters-section{
    font-size: 20px;
    cursor: pointer;
    margin: 0 20px;
}

/* spinning icons----------------------------------------------------------------------- */

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.spinningIcon {
    animation: spin 1s infinite;
    transform-origin: center;
}