.banner-img-cls{
    height: 150px !important;
    background: #e44e2d !important;
}
.mvx_bannersec_start {
    padding: none !important;
}
.banner-img-cls .mvx-imgcls{
    object-fit: cover !important;
}