.roadmap--purple-span{
    background-color: #4c0548;
    color: white;
    font-size: 16;
    border-radius: 10px;
    padding: 15px 10px;
    cursor: pointer;
    display: block;
    margin: 40px auto 0px auto;
    width: 90vw;
    text-align: center;
}
.roadmap--hollow-purple-span{
    border: solid 5px #4c0548;
    background: #eee2d4;
    color: black;
    font-size: 16;
    border-radius: 10px;
    padding: 15px 10px;
    cursor: pointer;
    display: block;
    margin: 40px auto 0px auto;
    width: 90vw;
    text-align: center;
}
.roadmap--orange-span{
    background-color: #e44e2d;
    color: white;
    font-size: 16;
    border-radius: 10px;
    padding: 15px 10px;
    cursor: pointer;
    display: block;
    margin: 40px auto 0px auto;
    width: 90vw;
    text-align: center;
}
.roadmap--hollow-orange-span{
    border: solid 5px #e44e2d;
    background: #eee2d4;
    color: black;
    font-size: 16;
    border-radius: 10px;
    padding: 15px 10px;
    cursor: pointer;
    display: block;
    margin: 40px auto 0px auto;
    width: 90vw;
    text-align: center;
}
.roadmap--blue-span{
    background-color: #0c6980;
    color: white;
    font-size: 16;
    border-radius: 10px;
    padding: 15px 10px;
    cursor: pointer;
    display: block;
    margin: 40px auto 0px auto;
    width: 90vw;
    text-align: center;
}
.roadmap--hollow-blue-span{
    border: solid 5px #0c6980;
    background: #eee2d4;
    color: black;
    font-size: 16;
    border-radius: 10px;
    padding: 15px 10px;
    cursor: pointer;
    display: block;
    margin: 40px auto 0px auto;
    width: 90vw;
    text-align: center;
}
.roadmap-container{
    width: 90vw;
    margin: 0px auto 0px auto;
    background: #eee2d4;
}
.roadmap-section{
    position: relative;
    display: block;
    margin: 0px;
}
.roadmap-img--bottom-left{
    position: absolute;
    bottom: -40px;
    left: -10px;
    z-index: 800;
    padding: 20px;
    height: 170px;
    width: fit-content;
}
.roadmap-img--bottom-right{
    position: absolute;
    bottom: -40px;
    right: -10px;
    z-index: 800;
    height: 170px;
    width: fit-content;
}
.roadmap-image--center{
    margin: auto;
    max-width: fit-content;
    padding: 10px;
}
.roadmap-image--center-wide{
    margin: auto;
    padding: 10px;
}
.roadmap-img--bottom-left img{
    height: 100%;
    width: auto;
    display: block;
}
.roadmap-img--bottom-right img{
    height: 100%;
    width: auto;
    display: block;
}
.roadmap-image--center img{
    max-width: 250px;
}
.roadmap-image--center-wide img{
    max-width: 250px;
    margin: auto;
    display: block;
}
.purple-rounded-rhombus{
    border: solid #4c0548 5px;
    border-radius: 10px;
    background: #4c0548;
}
.yellow-rounded-rhombus{
    border: solid #f7c340 5px;
    border-radius: 10px;
    background: #f7c340;
}
.orange-rounded-rhombus{
    border: solid #e44e2d 5px;
    border-radius: 10px;
    background: #e44e2d;
}
.blue-rounded-rhombus{
    border: solid #0c6980 5px;
    border-radius: 10px;
    background: #0c6980;
}
.roadmap-section--bottom-right--wrap-0{
    background: #333;
    border-radius: 0px 10px 160px 0px;
    margin: 0px;
    padding: 0px 20px 20px 0px;
    border: solid #eee2d4 3px;
}
.roadmap-section--bottom-right--wrap-1{
    border-right: double #f7c340 10px;
    border-bottom: double #f7c340 10px;
    border-top: transparent;
    border-radius: 0px 5px 155px 0px;
    padding: 0px 20px 20px 0px;
    margin: 0px;
}
.roadmap-section--bottom-right--wrap-2{
    background: #eee2d4;
    border-radius: 0px 5px 140px 0px;
    margin: 0px 0px 0px -3px;
    padding: 60px 20px 140px 10px;
    border: solid #eee2d4 3px;
}
.roadmap-section--bottom-left--wrap-0{
    background: #333;
    border-radius: 50px 0px 0px 160px;
    margin: 0px;
    padding: 0px 0px 20px 20px;
    border: solid #eee2d4 3px;
}
.roadmap-section--bottom-left--wrap-1{
    border-left: double #f7c340 10px;
    border-bottom: double #f7c340 10px;
    border-top: transparent;
    border-radius: 45px 0px 0px 155px;
    padding: 0px 0px 20px 20px;
}
.roadmap-section--bottom-left--wrap-2{
    background: #eee2d4;
    border-radius: 30px 0px 0px 140px;
    margin: 0px -3px 0px 0px;
    padding: 60px 20px 140px 20px;
    border: solid #eee2d4 3px;
}
.roadmap-section--bottom-last--wrap-0{
    background: #333;
    margin: 0px;
    padding: 0px 20px 0px 0px;
    border: solid #eee2d4 3px;
    margin-right: 100px;
}
.roadmap-section--bottom-last--wrap-1{
    border-right: double #f7c340 10px;
    border-top: transparent;
    padding: 0px 20px 0px 0px;
    margin: 0px;
}
.roadmap-section--bottom-last--wrap-2{
    background: #eee2d4;
    margin: 0px 0px 0px -3px;
    padding: 60px 20px 140px 10px;
    border: solid #eee2d4 3px;
}
.roadmap-img--bottom{
    position: absolute;
    right: 42px;
    bottom: 0;
}
.roadmap-container h2{
    margin: 0px;
}