#search-overlay__results{
    width: 900px;
    margin: 0px auto;
}
.tomc-search-result{
    background: #fefcf9;
    width: 80%;
    border-radius: 25px 0;
    margin: 20px auto 30px auto;
    padding: 10px;
    display: block;
}
.tomc-search-result--author{
    background: #fefcf9;
    width: 80%;
    border-radius: 15px 0;
    margin: 20px auto 30px auto;
    padding: 5px 10px;
    display: block;
}
@media screen and (max-width: 940px){
    #search-overlay__results{
        width: 80%;
        margin: 0px auto;
    }
}
@media screen and (max-width: 720px){
    #search-overlay__results{
        width: 90%;
        margin: 0px auto;
    }
}
@media screen and (max-width: 600px){
    #search-overlay__results{
        width: auto;
        margin: 20px auto;
    }
    .tomc-search-result{
        width: 90%;
    }
}
#search-overlay__options{
    width: 90%;
    margin: 10px auto 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#search-overlay__options p, .search-overlay__filter-languages{
    margin: 0px 20px;
    text-decoration: underline;
    cursor: pointer;
}
/* .tomc-search-result-cover-description{
    display: flex;
    flex-wrap: wrap;
    align-items: top;
} */
.tomc-search-result-cover-description img{
    max-width: 150px;
    height: auto;
    margin: 10px;
    display: inline-block;
}
.tomc-search-result-cover-description .bottomSection-description{
    width: 60%;
    vertical-align: top;
    margin: 10px;
    display: inline-block;
}
@media screen and (max-width: 650px){
    .tomc-search-result-cover-description .bottomSection-description{
        width: 80%;
    }
}