.search-overlay, .tomc-settings-overlay{
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1110;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(252, 232, 228);
    visibility: hidden;
    opacity: 0;
    transform: scale(1.09);
    transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
    box-sizing: border-box;
}  
.search-overlay--active{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.search-overlay__top{
    background-color: rgba(228, 78, 45, 0.32);
}
.overlay-main-container {
    max-width: 1300px;
    margin: 0 auto;
    padding-left: 15px;
    position: relative;
    background: transparent;
    border: solid transparent 2px;
}
.overlay-input-container{
    max-width: 1300px;
    width: 90%;
    margin: 80px auto 40px auto;
    padding: 0 auto 0 auto;
    position: relative;
    justify-content: center;
}
.search-overlay__icon{
    margin: 0 5px 0 10px;
    font-size: 1.8rem;
    color: #b63e32;
}
.search-term{
    max-width: 500px;
    width: 80%;
    height: 40px;
    box-sizing: border-box;
    border: none;
    border-radius: 25px;
    padding: 15px 10px;
    margin: 5px 0px;
    background-color: white;
    font-size: 1rem;
    font-weight: 300;
}
.service-search-term-div{
    width: fit-content;
    margin: 30px auto;
}
#service-search-term{
    width: 75vw;
    box-sizing: border-box;
    border: solid #0c698e 3px;
    border-radius: 25px;
    padding: 15px 10px;
    background-color: white;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    margin: 0 10px 0 0;
    display: inline;
}
#service-search-button{
    background-color: #4c0548;
    color: white;
    font-size: 16;
    border-radius: 45px;
    padding: 15px 30px;
    cursor: pointer;
    display: inline;
}
@media screen and (max-width: 510px) {
    #service-search-term{
        width: 85vw;
        margin: 0 auto;
        display: block;
    }
    #service-search-button{
        margin: 10px auto;
        display: block;
    }
}
.search-result{
    background: transparent;
    width: 90vw;
    height: fit-content;
    padding: 30px;
    margin: 30px auto 0 auto;
}
.search-result li{
    list-style: none;
    margin: 30px auto;
    padding: 15px;
    background-color: white;
    overflow: hidden;
    text-align: center;
}
.search-result p{
    text-align: center;
}
.search-result img{
    max-width: 150px;
    margin: 0 auto;
    display: block;
}
.body-no-scroll{
    overflow: hidden;
}
.settings-overlay--section{
    padding: 20px;
}
#search-overlay__results{
    width: 900px;
    margin: 0px auto;
}
.tomc-search-result{
    background: #fefcf9;
    width: 80%;
    border-radius: 25px 0;
    margin: 20px auto 30px auto;
    padding: 10px;
    display: block;
}
.tomc-search-result--author{
    background: #fefcf9;
    width: 80%;
    border-radius: 15px 0;
    margin: 20px auto 30px auto;
    padding: 5px 10px;
    display: block;
}
@media screen and (max-width: 940px){
    #search-overlay__results{
        width: 80%;
        margin: 0px auto;
    }
}
@media screen and (max-width: 720px){
    #search-overlay__results{
        width: 90%;
        margin: 0px auto;
    }
}
@media screen and (max-width: 600px){
    #search-overlay__results{
        width: auto;
        margin: 20px auto;
    }
    .tomc-search-result{
        width: 90%;
    }
}
#search-overlay__options{
    width: 90%;
    margin: 10px auto 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#search-overlay__options p, .search-overlay__filter-languages{
    margin: 0px 20px;
    text-decoration: underline;
    cursor: pointer;
}
.tomc-search-result-cover-description img{
    max-width: 150px;
    height: auto;
    margin: 10px;
    display: inline-block;
    box-shadow: 0 0 15px 0px #444;
}
.tomc-search-result-cover-description .bottomSection-description{
    width: 60%;
    vertical-align: top;
    margin: 10px;
    display: inline-block;
}
@media screen and (max-width: 650px){
    .tomc-search-result-cover-description .bottomSection-description{
        width: 80%;
    }
}