.short-piece{
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
}
.short-piece img{
    max-width: 80%;
    margin: auto;
    display: block;
}
.short-piece h1, h3{
    text-align: right;
}
.shorts-wrapper{
    margin: 70px 30px;
}
.shorts-wrapper-heading{
    padding: 20px 20px 0 20px;
    text-align: center;
}
.shorts-wrapper-p{
    padding: 0 20px 20px 20px;
}
.shorts-link{
    padding: 10px;
    margin: 0;
}
.shorts-tip-wrapper{
    background: #cdece4;
    border-radius: 20px;
}
.shorts-tip-links{
    background: #e8f5f2;
    border: solid #cdece4 5px;
}
.shorts-sponsored-wrapper{
    background: #e4dbd1;
    border-radius: 20px;
}
.shorts-sponsored-links{
    background: #f6f0e9;
    border: solid #e4dbd1 5px;
}
.shorts-affiliate-wrapper{
    background: #e4dbd1;
    border-radius: 20px;
}
.shorts-affiliate-links{
    background: #f6f0e9;
    border: solid #e4dbd1 5px;
}
.short-title{
    text-align: center;
    padding-bottom: 20px;
}
.shorts-trigger-warning{
    background: #faeae8;
    border: solid #f7412a 2px;
    padding: 0 5px 10px 5px;
    text-align: center;
}
.shorts-excerpt-wrapper{
    background: #0c6980;
    border-radius: 20px;
    padding: 10px 0;
    box-shadow: 0px 8px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shorts-excerpt-wrapper h2{
    max-width: 80%;
    text-align: center;
    margin: 10px auto 0 auto;
}
.shorts-excerpt{
    background: #fffaf4;
    border: solid #0c6980 5px;
    padding: 10px 10px 5px 10px;
}
.shorts-front-ad-wrapper{
    background: #0c6980;
    border-radius: 20px;
    padding: 10px 0;
    margin-bottom: 60px;
    box-shadow: 0px 8px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shorts-front-ad{
    background: #fffaf4;
    border: solid #0c6980 5px;
    padding: 10px 10px 5px 10px;
}
.short-author-bio{
    margin-bottom: 30px;
    min-height: fit-content;
}
.short-author-bio h3{
    text-align: center;
}
.short-piece img{
    max-height: 175px;
    margin: 0 auto 20px auto;
    border-radius: 50%;
}

@media screen and (max-width: 650px) {
    .shorts-wrapper{
        margin: 10px;
    }
    .shorts-wrapper-heading{
        padding: 20px 30px 5px 30px;
    }
    .shorts-wrapper-p{
        padding: 5px 10px 20px 10px;
    }
    .shorts-link{
        padding: 5px;
    }
}
@media screen and (max-width: 500px) {
    .shorts-wrapper{
        margin: 2px;
    }
}