/* .shorts-filter{
    background: #e8f5f2;
    padding: 10px 0;
    margin-top: -40px;
}
.shorts-filter h4{
    margin-bottom: 5px;
}
.shorts-filter h4{
    text-align: center;
}
.checkbox-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.checkbox-option{
    margin: 0 10px 10px 10px;
    display: inline;
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.checkbox-option input{
    margin-right: 5px;
    min-width: 20px;
    min-height: 20px;
} 
#shorts-submit-button{
    margin: 20px auto;
    padding: 5px 10px;
} */
.short-piece{
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
}
.short-piece h1, h3{
    text-align: right;
}
.shorts-wrapper{
    margin: 70px 30px;
}
.shorts-wrapper-heading{
    padding: 20px 20px 0 20px;
    text-align: center;
}
.shorts-wrapper-p{
    padding: 0 20px 20px 20px;
}
.shorts-link{
    padding: 10px;
    margin: 0;
}
.shorts-tip-wrapper{
    background: #cdece4;
    border-radius: 20px;
}
.shorts-tip-links{
    background: #e8f5f2;
    border: solid #cdece4 5px;
}
.shorts-sponsored-wrapper{
    background: #e4dbd1;
    border-radius: 20px;
}
.shorts-sponsored-links{
    background: #f6f0e9;
    border: solid #e4dbd1 5px;
}
.shorts-affiliate-wrapper{
    background: #e4dbd1;
    border-radius: 20px;
}
.shorts-affiliate-links{
    background: #f6f0e9;
    border: solid #e4dbd1 5px;
}
.short-title{
    text-align: center;
    padding-bottom: 20px;
}
.shorts-trigger-warning{
    background: #faeae8;
    border: solid #f7412a 2px;
    padding: 0 5px 10px 5px;
    text-align: center;
}
.shorts-excerpt-wrapper{
    background: #e0e7e3;
    border-radius: 20px;
    padding: 10px 0;
    box-shadow: 0px 8px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shorts-excerpt{
    background: #fffaf4;
    border: solid #e0e7e3 5px;
    padding: 10px 10px 5px 10px;
}
.shorts-front-ad-wrapper{
    background: #e0e6e7;
    border-radius: 20px;
    padding: 10px 0;
    margin-bottom: 60px;
    box-shadow: 0px 8px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shorts-front-ad{
    background: #fffaf4;
    border: solid #e0e6e7 5px;
    padding: 10px 10px 5px 10px;
}

@media screen and (max-width: 650px) {
    .shorts-wrapper{
        margin: 10px;
    }
    .shorts-wrapper-heading{
        padding: 20px 30px 5px 30px;
    }
    .shorts-wrapper-p{
        padding: 5px 10px 20px 10px;
    }
    .shorts-link{
        padding: 5px;
    }
}
@media screen and (max-width: 500px) {
    .shorts-wrapper{
        margin: 2px;
    }
}