.book-sections-container{
    display: flex;
    flex-wrap: nowrap;
    overflow-x:scroll;
    padding: 1em 1em 1em 1em;
    width: auto;
    align-content: center;
    background: #fdfdfd;
    /* box-shadow: inset 0px 5px 6px rgba(84, 84, 84, 0.5); */
}
.book-section--small{
    max-width: 170px;
    display: inline-block;
    margin: 0 1em 1em 1em;
    align-content: center;
}
.book-cover--small {
    max-width: 150px;
    height: auto;
    margin: 0 auto 0 auto;
}
.book-title--small{
    margin: 0 auto 0 auto;
    text-align: left;
}