body{
    background: #fffaf4;
    font-family: Arial, Helvetica, sans-serif;
}
.full-screen{
    min-height: 80vh;
}
.half-screen{
    min-height: 50vh;
}
.third-screen{
    min-height: 33vh;
}
.fifth-screen{
    min-height: 20vh;
}
.tenth-screen{
    min-height: 10vh;
}
.header--main{
    background: #411919;
    color: #f7ede3;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 0 0.5rem 0;
    padding: 0.15rem 0.15rem 0.15rem 0.15rem;
}
.header--main a{
    color: #F5EADE;
}
.extra-large-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
}
.small-text{
    font-size: 0.75rem;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.logo-text{
    font-family: Arial, Helvetica, sans-serif;
}
.footer--main{
    background: #411919;
    color: #F5EADE;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 1em 0.25em 1em 0.25em;
    margin: 3em 0 0 0;
}
.page-accent{
    margin: 2em 0 0 0;
    padding: 0.5em 0 0 0;
    background: linear-gradient(to right, #e8f5f2, #f1f1f1);
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a {
    color: #007054;
};
a:visited{
    color: #2d0055;
}
/*text-------------------------------------------------------------------------*/
.centered-text{
    text-align: center;
}
.left-text{
    text-align: left;
    margin-left: 2em;
}
.center-left-text{
    text-align: left;
    margin-left: 5vw;
}
.right-text{
    text-align: right;
    margin-right: 5vw;
}
.center-right-text{
    text-align: right;
    margin-right: 5vw;
}
/*text beside image-------------------------------------------------------------*/
.image-text--container{
    margin: 0 15vw 0 15vw;
}
.image-text--image {
    max-width: 300px;
    border-radius: 5px;
    float: left;
    margin: 0 2em 2em 0;
}
/*centered container-----------------------------------------------------------------*/
.centered-container {
    margin: 0 15vw 0 15vw;
}
/*widget content--------------------------------------------------------------------*/
.widget-content {
    margin: 0 1rem 0 2rem;
}
